@use 'src/constants/variables' as v;

.header {
    justify-content: end;
    display: flex;
    padding: 20px;
    width: 100%;
    &__section {
        display: flex;
        justify-content: end;
        padding: 20px;
        width: 100%;
        position: relative;
        height: 600px;
    }
    &__article {
        background-color: v.$bgcolorForm;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-radius: 10px;
        left: 5%;
        top: 150px;
        width: 40%;
        position: absolute;
        z-index: 1;
    }
    &__figure {
        width: 80%;
        img {
            height: 100%;
            transform: scaleX(-1);
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
        }
    }
}

.pago__seguro {
    width: 90%;
    margin: 0 auto;

    margin-bottom: 30px;
    h2 {
        margin-bottom: 20px;
    }

    &--container {
        height: 100px;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        border-radius: 20px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.301);
        &--creditcards {
            display: flex;
            flex-direction: column;
            figure {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .invex {
                    width: 50px;
                    height: 40px;
                    border-radius: 10px;
                }
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
        &--efective {
            display: flex;
            flex-direction: column;
            gap: 5px;
            figure {
                display: flex;
                justify-content: flex-start;
                gap: 20px;
                img {
                    width: 60px;
                    height: 50px;
                }
            }
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    h2 {
        margin-bottom: 20px;
    }
    &__container {
        display: flex;
        width: 100%;
        gap: 15px;
        &--card {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.301);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border-radius: 20px;
            height: 300px;
            width: 20%;
            gap: 10px;
            text-align: center;
            span {
                color: white;
                background-color: v.$colorPrimary;
                padding: 20px;
                border-radius: 50px;
                font-size: 60px;
            }
        }
    }
}
